<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><em>Квиз кс</em></h1>
<hr>
<h4><br />1- Какие пистолеты можно выбрать в начале игры в лобби за кт?</h4>
<p><span style="color: #ff0000;">Ответ-USP-S/P2000</span></p>
<hr>
<h4>2- Какое максимальное количество гранат вы можете носить с собой в CS2?<br /> <br /><span style="color: #ff0000;">Ответ-4</span></h4>
<hr>
<h4>3- В соревновательном CS2, сколько раундов нужно выиграть команде, чтобы победить в основное время?</h4>
<h4><span style="color: #ff0000;">Ответ-13</span></h4>
<hr>
<h4><br /> <br />4- Сколько стоит ак-47?</h4>
<p><span style="color: #ff0000;">Ответ-2700</span></p>
<hr>
<h4>5- Самый популярный скин в кс?</h4>
<p><span style="color: #ff0000;">Ответ-dragon lore</span></p>
<hr>
<h4>6- Какой скин был удален за авторские права?</h4>
<p><span style="color: #ff0000;">Ответ-m4a4 Howl (Вой)</span>&nbsp;<img src="https://steamuserimages-a.akamaihd.net/ugc/1680367243708599838/FF690EBBF05EFBC65BC8F3291672817A5E2098E3/" alt="Picture background" /></p>
<hr>
<h4>7- Сколько скинов есть на Zeus x27?</h4>
<p><span style="color: #ff0000;">Ответ-1&nbsp;</span><img src="https://community.akamai.steamstatic.com/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpooru2LhVfyfbdYgJW5Mm4kIWZqPD7N4Tck29Y_cg_ib2Y8dWg0FHh_Bc6Yjqgd4CdcFA9aQ7U-FG2xL3m157qup7Amnsyuz5iuyhTEpjqoQ/360fx360f" /></p>
<hr>
<h4>8- Как называется полностью синий паттерн на скине "поверхностная закалка"?</h4>
<p><span style="color: #ff0000;">Ответ-blue gem (блугем)</span>&nbsp;<strong><img src="https://steamuserimages-a.akamaihd.net/ugc/510405113897521464/2110130BEC440D05A5675136AF265FC7271BAA0D/?imw=512&amp;amp;imh=437&amp;amp;ima=fit&amp;amp;impolicy=Letterbox&amp;amp;imcolor=%23000000&amp;amp;letterbox=true" alt="Picture background" /></strong></p>
<hr>
<h4>9- Как называеться новый нож?</h4>
<p><span style="color: #ff0000;">Ответ-Кукри<img src="https://nojinsk.ru/upload/iblock/3fb/f28bbd0b-8ef8-11df-be9e-005056c00008_bd8be8bb-e0a9-11e7-937c-90e6ba57a174.resize1.jpeg" alt="Picture background" /></span></p>
<hr>
<h4>10- На какое оружие можно поменять Desert Eagle?</h4>
<p><span style="color: #ff0000;">Ответ-Revolver r8</span></p>
<hr>
<h4>11- Как называется Defuse в смоке?</h4>
<p><span style="color: #ff0000;">Ответ-Ninga defuse</span></p>
<hr>
<h4>12- Популярный молодой игрок который выйграл IEM Katowice 2024?</h4>
<p><span style="color: #ff0000;">Ответ-Donk</span></p>
</body>
</html>